body {
  font-family: "Noto Sans" "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 34px;
  text-align: center;
}

p {
  font-size: 18px;
}

/* ==========
PC用のスタイル
========== */

@media screen and (min-width: 768px) {

/* 横幅設定 */
body {
  max-width: 1220px;
  min-width: 960px;
  margin: 0 auto 0 auto;
}

/* ヘッダー */
header {
  display: flex;
  justify-content: space-between;
  max-width: 980px;
  margin: 0 208px 0 208px;
}

h1 {
  position: relative;
  margin: 20px;
  padding: 9px;
  width: 220px;
  height: 50px;
  border: 1px solid;
  text-align: center;
}

/* ナビゲーションレイアウト */
nav {
  padding-top: 31px;
  text-align: right;
  font-size: 34px;
  font-weight: bold;
}

/* ナビゲーションのリンク装飾 */
nav > a {
  text-decoration: none;
  margin-left: 20px;
}
nav > a:link {
  color: #000;
}
nav > a:visited {
  color: #000;
}
nav > a:hover {
  color: #000;
  text-decoration: underline;
}
nav > a:active {
  color: #000;
}

/* メインビジュアル */
#mainvisual {
  position: relative;
  margin: auto;
  width: 100%;
  text-align: center;
}


/* About */
.about-container {
  display: flex;
  margin: 50px;
}

.about-img > img {
  position: relative;
  margin: 26px auto 0 300px;
  border-radius: 72px;
}

h3 {
  margin: 26px auto 0 33px;
  font-size: 24px;
}

/* Works */
.works-container {
  display: flex;
  justify-content: center;
  padding: 18px;
}

.item > img {
  width: 179px;
  height: 134px;
}

.item {
  margin-top: -41px;
  padding: 29px;
  width: 15%;
  text-align: center;
}

/* フッター */
footer {
  margin-top: -25px;
  text-align: center;
}
}

/*====================
  スマートフォン用のスタイル
  =====================*/
@media screen and (max-width: 767px) {

img {
  max-width: 100%;
}


/* ヘッダー */

header {
  display: flex;
  justify-content: space-between;
}

h1 {
  position: relative;
  border: 1px solid;
  width: 208px;
  padding: 10px;
  text-align: center;
}

nav {
  padding-top: 31px;
  text-align: right;
  font-size: 34px;
  font-weight: bold;
}

nav > a {
  text-decoration: none;
  margin-left: 20px;
}
nav > a:link {
  color: #000;
}
nav > a:visited {
  color: #000;
}
nav > a:hover {
  color: #000;
  text-decoration: underline;
}
nav > a:active {
  color: #000;
}

/* About */
.about-container {
  display: flex;
  margin: 50px;
}

.about-img > img {
  position: relative;
  margin: 42px auto 0 auto;
  border-radius: 72px;
}

h3 {
  margin: 26px auto 0 33px;
  font-size: 24px;
}

ul {
  margin-left: 30px;
}

.works-container {
  text-align: center;
}

.item > img {
  margin-top: 30px;
  width: 647px;
  height: 580px;
}

footer {
  margin-top: 52px;
  text-align: center;
}

} 