body {
  font-family: "Noto Sans", "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  color: #000000;
}

h2 {
  text-align: center;
}


/* ==========
PC用のスタイル
========== */

@media screen and (min-width: 768px) {

/* 横幅設定 */
body {
  max-width: 1220px;
  min-width: 768px;
  margin: 0 auto 0 auto;
}

/* ヘッダー */
header {
  display: flex;
  justify-content: space-between;
  max-width: 980px;
  margin: 0 208px 0 208px;
}

h1 {
  position: relative;
  margin: 20px;
  padding: 9px;
  width: 220px;
  height: 50px;
  font-size: 34px;
  border: 1px solid;
  text-align: center;
}

/* ナビゲーションレイアウト */
nav {
  padding: 31px 60px;
  text-align: right;
  font-size: 34px;
  font-weight: bold;
}

/* ナビゲーションのリンク装飾 */
nav > a {
  text-decoration: none;
}
nav > a:link {
  color: #000000;
}
nav > a:visited {
  color: #000000;
}
nav > a:hover {
  color: #000000;
  text-decoration: underline;
}
nav > a:active {
  color: #000000;
}

/* メインビジュアル */
#mainvisual {
  position: relative;
  margin: auto;
  width: 960px;
  height: auto;
  width: 100%;
  text-align: center;
}


/* About */
h2 {
  font-size: 34px;
}

.about-container {
  display: flex;
  margin: 50px auto auto 280px;
}

.about-img > img {
  width: 141px;
  height: auto;
  margin-top: 26px;
  border-radius: 72px;
}

h3 {
  margin: 26px auto 24px 33px;
  font-size: 24px;
}

p {
  font-size: 18px;
  text-align: center;
}

/* Works */
.works-container {
  display: flex;
  justify-content: center;
  padding: 18px;
}

.item > img {
  width: 179px;
  height: auto;
}

.item {
  margin-top: -41px;
  padding: 29px;
  width: 15%;
  text-align: center;
}

/* フッター */
footer {
  margin-top: -25px;
  text-align: center;
}
}

/*====================
  スマートフォン用のスタイル
  =====================*/
@media screen and (max-width: 767px) {

img {
  max-width: 100%;
}


/* ヘッダー */

header {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 24px;
  padding: 9px;
  border: 1px solid;
  text-align: center;
}

nav {
  padding-top: 30px;
  text-align: right;
  font-size: 24px;
  font-weight: bold;
}

nav > a {
  text-decoration: none;
}
nav > a:link {
  color: #000000;
}
nav > a:visited {
  color: #000000;
}
nav > a:hover {
  color: #000000;
  text-decoration: underline;
}
nav > a:active {
  color: #000000;
}

/* About */
.about-container {
  display: flex;
  margin-top: 10px;
}

.about-img > img {
  position: relative;
  width: 100px;
  height: auto;
  margin: 10px auto 0 20px;
  border-radius: 150px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}


h3 {
  margin: 26px auto -14px 11px;
  font-size: 18px;
}

li {
  font-size: 10px;
}

.works-container {
  display: block;
  text-align: center;
}

p {
  font-size: 14px;
}

.item > img {
  margin-top: 30px;
  width: 647px;
  height: auto;
}

footer {
  margin-top: 52px;
  text-align: center;
}

} 